<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>xmlHttp.setRequestHeader("Access-Control-Allow-Origin", "*");</script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script>

        //Search tweets and users
        function searchTweets(search){
            const currenturl=(window.location.href).toString().replace('home','');
            if(search.trim()!=""){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        displaySearchedTweets(this.responseText);
                    }
                };
                xhttp.open("GET", currenturl+"search?search="+encodeURIComponent(search), true);
                xhttp.send();
            }
            else{
                document.getElementById("searchedTweets").innerHTML="";
            }
        }
        function displaySearchedTweets(tweetsData){
            let tweets = document.getElementById("searchedTweets");
            const data = JSON.parse(tweetsData);
            let tweetsdata = "";
            for (i = 0; i < data.length; i++) {
                firstName = data[i].firstName;
                lastName = data[i].lastName;
                userName = data[i].userName;
                tweet = data[i].tweet;
                uid=data[i].id;
                 if(typeof firstName == "undefined") {firstName="";}
                 if(typeof lastName=="undefined") {lastName="";}
                 if(typeof tweet=="undefined"){tweet="";}
                    let followBtnValue;
                    if(data[i].isFollower) {followBtnValue="Unfollow";}
                    else{followBtnValue="Follow";}

                    if(data[i].currentUser){
                        tweetsdata += '<div class="row tweet_box"><div class="col-10"><b>' + firstName + ' ' + lastName + '</b> <p>' + tweet + '</p></div></div><hr>';
                    }else{
                        tweetsdata += '<div class="row tweet_box"><div class="col-10"><b>' + firstName + ' ' + lastName + '</b> <a href="user/follow/'+uid+'"><button type="button" class="followBtn">'+followBtnValue+'</button></a> <p>' + tweet + '</p></div></div><hr>';
                    }
            }
            tweets.innerHTML = tweetsdata;
        }
    </script>
    <title>Home / Twitter</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col navbar tabs">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fab fa-twitter" style="font-size:35px;color:#1DA1F2"></i></li>
                    <br>
                    <li class="list-group-item twitter_nav_menu"><a href="/home"><i class="fas fa-home"></i><b>Home</b></a></li>
                    <li class="list-group-item twitter_nav_menu"><i class='fas fa-hashtag'></i><b>Explore</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class='far fa-bell'></i><b>Notifications</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-envelope"></i><b>Messages</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-bookmark"></i><b>Bookmarks</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-list-alt"></i><b>Lists</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-user"></i><b>Profile</b></li>
                    <li class="list-group-item"> <button class="tweet-btn" data-toggle="modal"
                            data-target="#myModal"><b>Tweet</b></button> </li>
                </ul>
                <ul class="list-group">
                    <br>
                    <li class="list-group-item logout"><a href="/logout"><i
                                class="fas fa-sign-out-alt"></i><b>Logout</b></a></li>
                </ul>

            </div>
            <div class="col-6 tabs middle-tab">
                <p id="home">Home</p>
                <form method="post">
                    <div class="row">
                        <div class="col-1"><i class="fas fa-user profile_pic"></i></div>
                        <div class="col-1"></div>
                        <div class="col-10">
                            <input type="text" class="tweetfield" name="tweet" placeholder="What's happening?"
                                autocomplete="off">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button type="submit" class="tweet-btn2"><b>Tweet</b></button>
                        </div>
                    </div>
                    <hr>
                    <div id="tweets">
                    </div>

                </form>
            </div>
            <div class="col">
                <input id="searchTweet" type="text" class="form-control searchBox" name="searchTweet" placeholder="Search Twitter"
                    autocomplete="off" onkeyup="searchTweets(this.value)">
                <br><br>
                <div id="searchedTweets">
                    <div class="row tweet_box">

                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form method="post">
                    <div class="modal-body">
                        <input type="text" class="tweetfield" name="tweet" placeholder="What's happening?"
                               autocomplete="off">
                    </div>
                    <div class="modal-footer">
                            <div class="col-9"></div>
                            <div class="col-3"><button type="submit" class="tweet-btn2"><b>Tweet</b></button></div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            //display all tweets
            let tweets = document.getElementById("tweets");
            const json = `{{{responseObject}}}`;
            const data = JSON.parse(json);
            let tweetsdata = "";
            for (i = 0; i < data.length; i++) {
                id = data[i].id;
                firstName = data[i].firstName;
                lastName = data[i].lastName;
                userName = data[i].userName;
                tweet = data[i].tweet;
                tweetsdata += '<div class="row tweet_box"><div class="col-1"><i class="fas fa-user profile_pic"></i></div><div class="col-1"></div><div class="col-10"><b>' + firstName + ' ' + lastName + '</b> @' + userName + '<p>' + tweet + '</p></div></div><hr>';
            }
            tweets.innerHTML = tweetsdata;
        });
    </script>

</body>

</html>