<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Home / Twitter</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col navbar tabs">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fab fa-twitter" style="font-size:35px;color:#1DA1F2"></i></li>
                    <br>
                    <li class="list-group-item twitter_nav_menu"><i class="fas fa-home"></i><b>Home</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class='fas fa-hashtag'></i><b>Explore</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class='far fa-bell'></i><b>Notifications</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-envelope"></i><b>Messages</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-bookmark"></i><b>Bookmarks</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-list-alt"></i><b>Lists</b></li>
                    <li class="list-group-item twitter_nav_menu"><i class="far fa-user"></i><b>Profile</b></li>
                    <li class="list-group-item"> <button class="tweet-btn"><b>Tweet</b></button> </li>
                </ul>
                <ul class="list-group">
                    <br>
                    <li class="list-group-item logout"><a href="/logout"><i class="fas fa-sign-out-alt"></i><b>Logout</b></a></li>
                </ul>

            </div>
            <div class="col-6 tabs middle-tab">
                <p id="home">Home</p>
                <div class="row">
                    <div class="col-1"><i class="fas fa-user profile_pic"></i></div>
                    <div class="col-1"></div>
                    <div class="col-10">
                        <input type="text" class="tweetfield" placeholder="What's happening?">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <button class="tweet-btn2"><b>Tweet</b></button>
                    </div>
                </div>
                <hr>
                <div class="row tweet_box">
                    <div class="col-1"><i class="fas fa-user profile_pic"></i></div>
                    <div class="col-1"></div>
                    <div class="col-10">
                        <b>Sagar Vanave</b> @ssv1437
                        <p>Hello this is my first tweet</p>
                    </div>
                </div>
                <hr>
                <div class="row tweet_box">
                    <div class="col-1"><i class="fas fa-user profile_pic"></i></div>
                    <div class="col-1"></div>
                    <div class="col-10">
                        <b>Sagar Vanave</b> @ssv1437
                        <p>Hello this is my first tweet</p>
                    </div>
                    
                </div>
                <hr>
                <div class="row tweet_box">
                    <div class="col-1"><i class="fas fa-user profile_pic"></i></div>
                    <div class="col-1"></div>
                    <div class="col-10">
                        <b>Sagar Vanave</b> @ssv1437
                        <p>Hello this is my first tweet</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col">     
                    <input id="email" type="text" class="form-control searchBox" name="email" placeholder="Search Twitter" autocomplete="off">
              </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>